@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700;900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generic rules  */
body {
    font-family: "Nunito", sans-serif;
    max-height: 100vh;
    height: calc(100vh - 80px);
}

/* header  */
.header-top {
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #312E81;
}

.header-nav ul{
    
    display: flex;
    list-style: none;
}

.header-nav li {
    margin: 0 15px;
}

.header-title a{
    font-size: 3vmin;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
}
.header-nav a {
    text-decoration: none;
    font-size: 2.15vmin;
    color: #ddd;
    font-weight: 700;
    transition: 0.5s;
}

.header-nav a:hover {
    color: #dc143c;

}

/* general space */
.general {
    height: 100%;
    margin-top: 80px;
    padding: 50px 50px 0;
    display: flex;
    flex-direction: row;
}

/* 50% screen division  */
.left, .right {
    padding: 0 20px;
    width: 50%;
    height: 100%;
}

/* title */
.text {
    margin-top: 20px;
}

.text h1 {
    font-size: 5vmin;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 5vmin;
}

.h1-colored {
    color: #F97316;
}
.text h3 {
    margin: 20px 10px 0;
    font-size: 2.4vmin;
    color: #555;
}

/* lines configurations */
.linha {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.linha label,
.linha input {
    margin: 0 auto;
}

.right-linha {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 15px;
}

/* 50% input and label  */
.half {
    width: 45%;
}

/* 25% input and label  */
.mid-half {
    width: 20%;
}

/* 50% division from available space  */

.half-space {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.half-space-right {
    align-self: center;
    height: 100%;
}

.line {
    width: 4px;
    height: 280px;
    background-color: #777;
    border-radius: 10px;
    margin: auto 30px;
}

/* general label style  */
.linha label {
    font-size: 2vmin;
    margin: 12px 0 10px;
}

input {
    padding: 15px 20px;
    font-size: 2vmin;
    border-radius: 10px;
    border: 2px solid #999;
}

.top-inputs-from-left {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bottom-inputs-from-left {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

textarea {
    font-family: "Nunito", sans-serif;
    width: 90%;
    height: 220px;
    margin: 0px auto;
    resize: none;
    font-size: 2vmin;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #999;
}

p {
    font-size: 2vmin;
}

.linha-margin-bottom {
    margin-bottom: 30px;
}

.linha .radio-label{
    margin: 0;
}

.radio-options {
    margin-left: 40px;
}

.yes-no-option {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.linha-botao-arquivo button{
    padding: 10px 50px;
    margin: 15px auto 0;
    color: #F97316;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #F97316;
    border-radius: 10px;
    background-color: #fff;
    transition: .5s;
}

.linha-botao-arquivo button:hover {
    color: #fff;
    background-color: #F97316;
}

.image {
    background-image: url(../images/travel.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: 50%;
    padding: 0px 0px;
    height: 60%;
}

.address {
    width: 65%;
}

.uf {
    width: 20%;
}

.city, .neighborhood {
    width: 35%;
}

.linha-botao {
    justify-content: flex-end;

}

.linha-botao button {
    padding: 20px 60px;
    margin-top: 15px;
    color: #F97316;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #F97316;
    border-radius: 10px;
    background-color: #fff;
    transition: .5s;
}

.linha-botao button:hover {
    color: #fff;
    background-color: #F97316;
}